{% extends 'base/base.html' %}

{% block title %} IDserver 运维平台  {% endblock %}

{% block js %}
  <!--icheck-->
  
{% endblock %}

{% block css %} 
  <!--dashboard calendar-->
  <link href="/static/css/clndr.css" rel="stylesheet">

  <!--Morris Chart CSS -->
  <link rel="/static/stylesheet" href="js/morris-chart/morris.css">
  
  
  <!--common-->
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/style-responsive.css" rel="stylesheet"> 
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
    <style type="text/css">
        th{
            text-align: center;
            }
				td{  text-align: center;
				}
    </style>
{% endblock %}
    
{% block main_content %}

<div class="page-heading">
	
		 
<div class="row">
	<div class="wrapper">
		<div class="row">
			<div class="col-md-12">
			 <div class="panel">
		 		 <div class="panel-body">
                    <h6> 应用控制列表</h6>
     		  </div>
		   </div>
		</div>
		
			<!-- 添加删除资产按钮 -->
			<div class="col-md-1 col-xs-2">
					<a class="btn btn-info" href="/AppCtrl/addApp/">添加应用
				      <!--   <button type="button" class="btn btn-success">添加资产</button> s-->
					</a>
					
		</div>
	 </div>
	 
	 
	 
	 
	 <div class="col-md-12">
	 	<div class="table-responsive">
	 		<table class="table table-hover">
	 	<thead>
				    <tr>
					 	 	<th class="text-center" style="width:5px;">
	             <input id="checkall" class="i-checks" name="checkall" value="checkall" data-editable="false" type="checkbox">
	            
	            </th>
				      <th>IP地址</th>
				      <th>进程名</th>
				      <th>端口</th>
				      <th>状态</th>
				      <th>动作</th>
				 
				    </tr>
				  </thead>
				  
				  <tbody>
				   {% for I in assetObj %}
				    <tr id="body_{{I.id}}">
				      <td>
				      		<input id="{{ I.id }}" value="{{ I.id }}" type="checkbox">
				      </td>
				     
				      <td>{{ I.IPaddr }}</td>
				      <td>{{ I.AppMasterName}}</td>
				      <td>{{ I.AppPort}}</td>
				      
				      {% for key,value in Status.items %}
				      <!-- 如果这里的x中的ip地址和上面的相等，应该。。
 {u'123.207.86.123': {'345': '1', 'nginx': '0', 'wett34': '1', 'mysqld': '0', '3306': '0', '80': '0'}, u'127.0.0.1': {'3306': '0', 'nginx': 'running', 'mysqld': '0'}}
				   
				{'345': '1', 'nginx': '0', 'wett34': '1', 'mysqld': '0', '3306': '0', '80': '0'}   
				         -->
				       {% ifequal key I.IPaddr %}
				       		
				       		{% for keys,values  in value.itmes  %}
				       					
				       					<td>{{ value }}</td>
				       			
				    			{% endfor %}
				       {% endifequal %}
				    	{% endfor %}
				      <td>
				        
				        <a href="javascript:;" onclick="updateAppStatus({{I.id}})" title="更新状态信息">
				      	 			<img src="/static/images/appImg/update.png" >
				         </a>
				         
				         <a href="" title="重启APP">
				      	 			<img src="/static/images/appImg/restart.png" >
				         </a>
				         
				         
				         <a href="/AppCtrl/deit_{{I.id}}" title="编辑此APP">
				      	 			<img src="/static/images/appImg/edit.png" >
				         </a>
				         
				      	 <a href="javascript:;" onclick="delApp({{I.id}})" title="删除{{I.AppMasterName}}">
				      	 			<img src="/static/images/appImg/delete.png" >
				         </a>
				         
				      </td>
				    </tr>
				    {% endfor %}
				    
				  </tbody>
	 	
	 		</table>
	 		
<!-- 从comm目录中加载分页设置 -->		

	{% include 'comm/app_pageinfo.html' %}

<!-- 加载结束 -->		
	 		
	  </div>
	 </div>
	</div>
</div>

{% endblock %}


{% block buttom_js %}
<!-- Placed js at the end of the document so the pages load faster -->
<script src="/static/js/jquery-1.10.2.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<script src="/static/js/modernizr.min.js"></script>
<script src="/static/js/jquery.nicescroll.js"></script>

<!--common scripts for all pages-->
<script src="/static/js/scripts.js"></script>
<script src="/static/layer/layer.js"></script>

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


function ajaxAction(Url,Data,Action='none'){
	$.ajaxSetup({data: {csrfmiddlewaretoken: getCookie('csrftoken'),Data},});
	
	$.ajax({
		url: Url,
		//data: hostID,
		type: "POST",
		
		beforeSend: function(){
			var index = layer.load(0, {shade: false});
		},
		
		success:function(callback){
			//alert(callback);
			//将loading层关闭掉
			layer.closeAll("loading");
			
			
			//开使对不同的应用调用，执行不同的操作。
			if(Action == 'update'){
				alert('update');
			}
			//----------------------------------------------
			else if(Action == 'delApp'){
				//alert('delApp');
				//alert(callback);    
				var JsObj = JSON.parse(callback);
				alert(Data)
				
				if(JsObj['flag'] == 'ok'){     //{'result':"resutl",'flag':'ok'}
					alert('del is ok');
					//var bodel  = document.getElemenById('body_'+Data);
					 //   bodel.remove();
					$('#body_'+Data).remove();
					//DelId.remove();
				}
				//---------------------------------------------
				
				
			}
			else if(Action == 'restart'){
				alert('restart');
			}
			else{
				console('没有选定。');
			}
			
		}
			
	});
}


function updateAppStatus(ID){
	var Data = ID;
	var Url  = '/AppCtrl/updateStatus/' ;
	Action = 'update'
	
	ajaxAction(Url,Data,Action);
}


function delApp(ID){
	var Data = ID
	var Url = '/AppCtrl/delApp/' ;
	
	Action='delApp'
	ajaxAction(Url,Data,Action);
	
}
 
function restart(ID){
	var Data = ID
	var Url = '/AppCtrl/restart/';
	
	Action='restart'
	ajaxAction(Url,Data,Action);
	 
 }


</script>

{% endblock %}