{% extends 'Monitor/index.html' %}

{% block template %} 

<div  class="panel">
<div  class="panel-body">
	<div class="col-md-12">
	<br/>
	
	<ul class="breadcrumb">
	  <li>
	    <a href="/Monitor/">Monitor</a>
	      </li>
	    <li class="active">template</li>
	    </ul>


	</div>

<!-- 模板列表 -->
<div class="table-responsive">
		
			<table class="table  table-striped">
				 
				  <thead>
				    <tr>
					 	 
				      <th class="col-md-1">Hostgroup</th>
				      <th class="col-md-1">组名</th>
				      <th class="col-md-1">连接到模板</th>
				      <th class="col-md-1"></th>
				      <th class="col-md-2">
				      <a href='{% url "hg_Add" %}'>
				     		 创建主机组<img  src="/static/images/monitor/add16.png">
				      </a>
				      
				      </th>
				     
				    </tr>
				  </thead>
				  
				  <tbody>
				   {% for I in Obj %}
				   
				    <tr>
				      <td class="col-md-1">
				      		<input id="{{ I.id }}" value="{{ I.id }}" type="checkbox">
				      </td>
				     
				      <td class="col-md-2">{{ I.name }}</td>
				      {% for Temp in I.templates.all %}
				      <td class="col-md-1">{{ Temp.name }}</td>
				      {% endfor %}
				      <td class="col-md-1"></td>
				     
				      <td class="col-md-2">
				      
				         
				        <!--   <button type="button" value={{I.id}} id="assetUpdate" class="btn btn-primary" onclick="assetUpdate(this)">更</button>   -->
				      	 
				      	 <a href="{% url 'hg_Del' I.id %}" title="删除{{I.name}}">
				      	   <img src="/static/images/appImg/delete.png" >
				      	
				         </a>
				         
				         <a href="{% url 'hg_Edit' I.id %}" title="编辑{{I.hostname}}">
				      	 <img src="/static/images/appImg/edit.png" >
				         </a>

				      </td>
				      
				       <td class="col-md-5">
				   
				    </tr>
				    {% endfor %}
				    
				  </tbody>
				</table>


	<div class="col-md-3 col-xs-3 col-sm-3" style="text-align:right;"></div>
	
	
	<div class="col-md-3 clo-xs-3 col-sm-3">	
		<nav aria-label="Page navigation">
	  <ul class="pagination">

	    <li>
	      <a href="/asset/{{beforePage}}" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    	   {% for X in x %}
	    		{% for pages in Pages %}
	    			
	      		 {% ifequal X pages %}
	    	<li class="active"><a href="/asset/{{X}}">{{X}}</a></li>
	    {% else %}
	    			<li><a href="/asset/{{X}}">{{X}}</a></li>
	             {% endifequal %}

   	    {% endfor %}
	   {% endfor %}
	    
	    <li>
	      <a href="/asset/{{afterPage}}" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>

	  </ul>
	</nav>
	</div>
	<div class="col-md-3 clo-xs-3 col-sm-3">
	</div>

	</div>

	

	
	
	</div>
</div>
	
{% endblock %}