<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">
   
<title>{% block title %} {% endblock %}</title>

{% block js %} {% endblock %}

{% block css %} {% endblock %}
</head>
<body class="sticky-header">
<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="/index/"><img src="/static/images/index_logo.png" width='200px' height='58px' alt=""></a>
        </div>

<!--  -->
        <div class="logo-icon text-center">
            <a href="/index/"><img src="/static/images/index_logo.png" width='50px' height='50px' alt=""></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">
        
            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a href="/index/"><i class="fa fa-home"></i> <span>仪表盘</span></a></li>
                <li class="menu-list"><a href=""><i class="fa fa-laptop"></i> <span>CMDB</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/asset/">资产 </a></li>
                        <li><a href="/asset/asset_group/">资产组</a></li>
                        <li><a href="/asset/asset_idc/">IDC机房</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>应用控制</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/AppCtrl/">应用列表</a></li>
                        <li><a href="/AppCtrl/addApp/">添加应用</a></li>
                        
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-cogs"></i> <span>ssh|文件</span></a>
                    <ul class="sub-menu-list">
                   		  <li><a href="/remote/ssh_remote/">SSH|USER</a></li>
                        <li><a href="/remote/upload_remote/">上传|下载</a></li>
                        <li><a href="/remote/file_remote_log/">传输日志</a></li>
                    </ul>
                </li>

                

                <li><a href="/diskused/"><i class="fa fa-sitemap"></i> <span>硬盘使用</span></a></li>

      

                <li class="menu-list"><a href=""><i class="fa fa-tasks"></i> <span>监控管理</span></a>
                    <ul class="sub-menu-list">
                      
                        <li><a href="/Monitor/">监控仪表盘</a></li>
                        <li><a href="/Monitor/charts/">趋势图形</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-bar-chart-o"></i> <span>日志管理</span></a>
                    <ul class="sub-menu-list">
                        
                        <li><a href=""> 日志01</a></li>
                        <li><a href=""> 日志02</a></li>
                    </ul>
                </li>
              
               
                
                <li><a href="/accounts/logout/"><i class="fa fa-sign-in"></i> <span>Logout</span></a></li>

            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->
        <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->

            <!--search start-->
            <form class="searchform" action="index.html" method="post">
                <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
            </form>
            <!--search end-->

            <!--notification menu start -->
            <div class="menu-right">
            				
                <ul class="notification-menu">
           					<li>
				               <a href="/accounts/logout/">
				               		<button type="button" class="btn btn-danger">Logout</button>
				               </a>
                   </li>
         
                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->
        
 {% block main_content %} {% endblock %}
        
       </div>

<!-- main content end-->


</section>

{% block buttom_js %} {% endblock %}

</body>
</html>