{% extends 'base/base.html' %}

{% block title %} 资产添加  {% endblock %}
{% block js %}
  <!--icheck-->
  <link href="/static/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
  <link href="/static/js/iCheck/skins/square/square.css" rel="stylesheet">

{% endblock %}

{% block css %} 
  <!--dashboard calendar-->
  <link href="/static/css/clndr.css" rel="stylesheet">

  <!--Morris Chart CSS -->
  <link rel="/static/stylesheet" href="/static/js/morris-chart/morris.css">

  <!--common-->
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/style-responsive.css" rel="stylesheet"> 
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
{% endblock %}


{% block main_content %}
<div class="col-lg-12">
     <section class="panel">
       <header class="panel-heading">
            
          <ul class="breadcrumb">
                <li>
                    <a href="/index">仪表盘</a>
                </li>
                <li>
                	<a href="/asset/asset_group/">资产组信息</a>
                </li>
                <li class="active">资产组</li>
                			
            </ul>
       		 
            		 <div class="alert alert-success alert-dismissible" role="alert">
									  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									  <strong>添加资产组</strong> 
								</div>
     			   
                        </header>
                        <div class="panel-body">
                        
                            <div class="form">
                                <form novalidate="novalidate" class="cmxform form-horizontal adminex-form" id="commentForm" method="POST" action="/asset/asset_groupadd/">
                                				  	{% csrf_token %} 
                                    <div class="form-group ">
                                        <label for="cname" class="control-label col-lg-2">资产组:</label>
                                        <div class="col-lg-10">
                                            <input class="form-control" id="groupname" name="groupname" minlength="2" required="" type="text">
                                        </div>
                                    </div>
                                                                   
                                    <!-- 主机选择 -->
                                    <!-- ================================================================================== -->
                    
                                           <!--  <div class="hr-line-dashed"></div>  -->
                                              <div class="form-group required control-label">
                                                 <label class="control-label col-sm-2 col-lg-2">选择主机</label>
                                                     <div class="form-group required">
                                                            <div class="col-sm-3">
                                                               <select id="hosts" name="hosts" size="12" class="form-control m-b" multiple="">
                                                                      																			<!-- 主机循环 -->
                                                                      
                                                                       {% for host in hostObj %}
                                                                                 <option value="{{ host.id }}">{{ host.pubip }}</option>
                                                                       {% endfor %}
                                                                      																		
                                                                      																			 <!-- 主机循环 -->
                                                               </select>
                                                            </div>
                                                             <div class="col-sm-1">
                                                                     <div class="btn-group" style="margin-top: 50px;">
                                                                            <button type="button" class="btn btn-white" onclick="move('hosts', 'host')"><i class="fa fa-chevron-right"></i></button>
                                                                            <button type="button" class="btn btn-white" onclick="move('host', 'hosts')"><i class="fa fa-chevron-left"></i></button>
                                                                     </div>
                                                             </div>
                                                            <div class="col-sm-3">
                                                                <div>
                                                                    <select id="host" name="host" class="form-control m-b" size="12" multiple="" required="required">
                                                                    </select>
                                                                 </div>
                                                            </div>
                                                      </div>
                                            </div>
                                            
                                                                               
                                    
                                    <!-- 主机选择 -->
                                    <!-- =================================================================================== -->
                              		 
                                    <div class="form-group ">
                                        <label for="ccomment" class="control-label col-lg-2">备注信息:</label>
                                        <div class="col-lg-10">
                                            <textarea class="form-control " id="comment" name="comment" required=""></textarea>
                                        </div>
                                   
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button class="btn btn-primary" type="submit" id="but">Save</button>
                                            <button class="btn btn-default" type="button">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </section>
                </div>

{% endblock %}




{% block buttom_js %} 
<!-- Placed js at the end of the document so the pages load faster -->
<script src="/static/js/jquery-1.10.2.min.js"></script>
<script src="/static/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/modernizr.min.js"></script>
<script src="/static/js/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="/static/js/easypiechart/jquery.easypiechart.js"></script>
<script src="/static/js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="/static/js/sparkline/jquery.sparkline.js"></script>
<script src="/static/js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="/static/js/iCheck/jquery.icheck.js"></script>
<script src="/static/js/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="/static/js/flot-chart/jquery.flot.js"></script>
<script src="/static/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="/static/js/flot-chart/jquery.flot.resize.js"></script>


<!--Morris Chart-->
<script src="/static/js/morris-chart/morris.js"></script>
<script src="/static/js/morris-chart/raphael-min.js"></script>

<!--Calendar-->
<script src="/static/js/calendar/clndr.js"></script>
<script src="/static/js/calendar/evnt.calendar.init.js"></script>
<script src="/static/js/calendar/moment-2.2.1.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

<!--common scripts for all pages-->
<script src="/static/js/scripts.js"></script>

<!--Dashboard Charts-->
<script src="/static/js/dashboard-chart-init.js"></script>

<script>
    function move(from, to, from_o, to_o) {
    $("#" + from + " option").each(function () {
        if ($(this).prop("selected") == true) {
            $("#" + to).append(this);
            if( typeof from_o !== 'undefined'){
                $("#"+to_o).append($("#"+from_o +" option[value='"+this.value+"']"));
            }
        }
    });
}
</script>


<script>
/*
$('html').ajaxSend(function(event, xhr, settings) { 
	 function getCookie(name) { 
	  var cookieValue = null; 
	  if (document.cookie && document.cookie != '') { 
	   var cookies = document.cookie.split(';'); 
	   for (var i = 0; i < cookies.length; i++) { 
	    var cookie = jQuery.trim(cookies[i]); 
	    // Does this cookie string begin with the name we want? 
	    if (cookie.substring(0, name.length + 1) == (name + '=')) { 
	     cookieValue = decodeURIComponent(cookie.substring(name.length + 1)); 
	     break; 
	    } 
	   } 
	  } 
	  return cookieValue; 
	 }           */
	 //if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) { 
	  // Only send the token to relative URLs i.e. locally. 
	  /* xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken')); 
	 } 
	});


	var butt = document.getElementById('but');
	butt.addEventListener("click",addHostAjax);
	
	function hello(){
		var host = document.getElementById('hostname').value;
	   //var host = $('#hostname').val();
		 alert(host);
	}
	
  //Ajax 异步请求与应答

  function addHostAjax(){
	  
	  var host = $('#hostname').val();
	  var pubip = $('#pubip').val();
	  var priip = $('#priip').val();
	  var comment = $('#comment').val();
	  alert(host);
	 
	  $.ajax({
			url: '/asset/asset_add_ajax/',
			data:{host:host,pubip:pubip,priip:priip,comment:comment},
      type:'POST',
      success: function(callback){
    	    console.log(callback);
    	    alert(callback);
    	}
		
	  });

  }

  */
</script>
{% endblock %}



