<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css" type="text/css">
    <script type="application/javascript" src="/static/js/jquery-1.11.1.js"></script>
    <script language="JavaScript" src="/static/js/bootstrap.js"> </script>
</head>
<body>

<div class="container">
<div class="row">
<form  action="/Login/" method="POST" class="form-horizontal" role="form">
                    <fieldset>
                        <legend >
                            <span style="margin-left: 40%">用户登录</span>
                        </legend>

                        <div class="form-group form-horizontal" >
                            <label class="col-md-4 control-label">Username:</label>
                            <div class="col-md-5">
                                <input name="username" autofocus type="text" placeholder="username" class="form-control"/>
                            </div>
                        </div>

											

                   <div class="form-group form-horizontal" >  
                            <label  class="col-md-4 control-label" >Password:</label>
                            <div class="col-md-5">
                                <input name="passwd" type="password" placeholder="password" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">Remenber Me
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="submit" class="btn btn-success">Login</button>
                            </div>
                        </div>
                    </fieldset>
                </form>

</div>
</div>
</body>
</html>