{% extends 'Monitor/index.html' %}

{% block template %} 

<div  class="panel">
<div  class="panel-body">
	<div class="col-md-12">
	<br/>
	
	<ul class="breadcrumb">
	  <li>
	    <a href="/Monitor/">Monitor</a>
	      </li>
	    <li class="active">触发执行动作</li>
	    </ul>
{% if flag %}
    		 <div class="alert alert-success alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>添加成功</strong> 
</div>
   {% endif %}

	</div>

<div class="col-md-8">
	 <div class="form">
                  <form novalidate="novalidate" class="cmxform form-horizontal adminex-form" id="commentForm" method="POST" action="">
                  				  	 {% csrf_token %}
                      <div class="form-group ">
                          <label for="cname" class="control-label col-lg-2">动作:</label>
                          <div class="col-lg-10">
                              <input class="form-control" id="acname" name="acname" minlength="2" required="" type="text" value="{{action.name}}">
                          </div>
                      </div>
                                                     

			<!-- =========关联主机============= -->		
							 <!--  <div class="hr-line-dashed"></div>  -->
                                <div class="form-group required control-label">
                                   <label class="control-label col-sm-2 col-lg-2">关联主机</label>
                                       <div class="form-group required">
                                              <div class="col-sm-3">
                                                 <select id="temNoIn" name="temNoIn" size="12" class="form-control m-b" multiple="">
                                                        																			<!-- 主机循环 -->
                                                        
                                                         {% for host in tempObj %}
                                                                   <option value="{{ host.id }}">{{ host.name }}</option>
                                                         {% endfor %}
                                                        																		
                                                        																			 <!-- 主机循环 -->
                                                 </select>
                                              </div>
                                               <div class="col-sm-1">
                                                       <div class="btn-group" style="margin-top: 50px;">
                                                              <button type="button" class="btn btn-white" onclick="move('temNoIn', 'tempIn')"><i class="fa fa-chevron-right"></i></button>
                                                              <button type="button" class="btn btn-white" onclick="move('tempIn', 'temNoIn')"><i class="fa fa-chevron-left"></i></button>
                                                       </div>
                                               </div>
                                              <div class="col-sm-3">
                                                  <div>
                                                      <select id="tempIn" name="tempIn" class="form-control m-b" size="12" multiple="" required="required">
                                                     
                                                     {% for hosts in temp %}
                                                     		{% for I in hostgroup.templates.all %}
                                                     		
                                                     					{% ifequal I.name hosts.name %}
                                                     				<option value="{{ hosts.id }}">{{ hosts.name }}</option>
                                                     					{% endifequal %}
                                                     															
                       																	{% endfor %}
                       															{% endfor %}
                                                   
                                                     
                                                      </select>
                                                   </div>
                                              </div>
                                              
                                              <div class="col-sm-1 col-md-1">
                                                  <a href="javascript:;" onclick="hostadd()" title="添加主机"><img id="images" src="/static/images/monitor/add.png"></a>                             	
                                              </div>
                                        
                                        </div>
                              </div>
									
				<!-- =========关联主机结束============= -->		
				
				
			
			   <!-- =========关联主机组============= -->		
							 <!--  <div class="hr-line-dashed"></div>  -->
                                <div class="form-group required control-label">
                                   <label class="control-label col-sm-2 col-lg-2">关联主机组</label>
                                       <div class="form-group required">
                                              <div class="col-sm-3">
                                                 <select id="temNoIn" name="temNoIn" size="12" class="form-control m-b" multiple="">
                                                        																			<!-- 主机循环 -->
                                                        
                                                         {% for HostGroup in groupObj %}
                                                                   <option value="{{ HostGroup.id }}">{{ HostGroup.name }}</option>
                                                         {% endfor %}
                                                        																		
                                                        																			 <!-- 主机循环 -->
                                                 </select>
                                              </div>
                                               <div class="col-sm-1">
                                                       <div class="btn-group" style="margin-top: 50px;">
                                                              <button type="button" class="btn btn-white" onclick="move('temNoIn', 'tempIn')"><i class="fa fa-chevron-right"></i></button>
                                                              <button type="button" class="btn btn-white" onclick="move('tempIn', 'temNoIn')"><i class="fa fa-chevron-left"></i></button>
                                                       </div>
                                               </div>
                                              <div class="col-sm-3">
                                                  <div>
                                                      <select id="tempIn" name="tempIn" class="form-control m-b" size="12" multiple="" required="required">
                                                     
                                                     {% for hosts in temp %}
                                                     		{% for I in hostgroup.templates.all %}
                                                     		
                                                     					{% ifequal I.name hosts.name %}
                                                     				<option value="{{ hosts.id }}">{{ hosts.name }}</option>
                                                     					{% endifequal %}
                                                     															
                       																	{% endfor %}
                       															{% endfor %}
                                                   
                                                     
                                                      </select>
                                                   </div>
                                              </div>
                                              
                                              <div class="col-sm-1 col-md-1">
                                                  <a href="javascript:;" onclick="hostgroupadd()" title="添加服务"><img id="images" src="/static/images/monitor/add.png"></a>
                                              </div>
                                        
                                        </div>
                              </div>
									
				<!-- =========关联主机组结束============= -->		
							
              
       
				<div class="form-group ">
	         <label for="ccomment" class="control-label col-xs-4 col-lg-2">告警间隔:</label>
	         <div class="col-lg-2 col-xs-6">
	             <input class="form-control " id="interval" name="interval" placeholder="second" required="">{{ interval }}</input>
	         </div>
	         
	       
	       <label for="ccomment" class="control-label col-xs-4 col-lg-2">动作类型:</label>
	         <div class="col-lg-2 col-xs-6">
	             	<select class="input-md form-control">
	             		<option value="{{ host.id }}">email</option>
	             		<option disabled value="{{ host.id }}"> sms</option>
	             		<option disabled value="{{ host.id }}"> script</option>
	             		
	             	</select>
	             
	         </div>
	         
	       
	     </div>
	     
	     
	    <div class="form-group ">
	         <label for="ccomment" class="control-label col-xs-4 col-lg-2">邮件主题:</label>
	         <div class="col-lg-6 col-xs-6">
	             <input class="form-control " id="sendmsgSub" name="sendmsgSub" placeholder="CPU负载过高- （IP地址将在邮件发送的时候自动添加到此）" required="">{{ sendmsgSub }}</input>
	         </div>
	    </div>
	    
	    <div class="form-group ">
	         <label for="ccomment" class="control-label col-xs-4 col-lg-2">邮件内容:</label>
	         <div class="col-lg-8 col-xs-8">
	             <textarea class="form-control " id="sendmsgBody" name="sendmsgBody" required="">{{ sendmsgBody }}</textarea>
	         </div>
	    </div>
	    

	     <div class="form-group ">
	         <label for="ccomment" class="control-label col-xs-4 col-lg-2">脚本内容:</label>
	         <div class="col-lg-8 col-xs-8">
	             <textarea disabled class="form-control " id="scritp" name="scritp" required="">{{ sendmsgBody }}</textarea>
	         </div>
	    </div>
	    
	    
	   <!-- =========通知用户开始============= -->		
							 <!--  <div class="hr-line-dashed"></div>  -->
                                <div class="form-group required control-label">
                                   <label class="control-label col-sm-2 col-lg-2">通知用户</label>
                                       <div class="form-group required">
                                              <div class="col-sm-3">
                                                 <select id="temNoIn" name="temNoIn" size="12" class="form-control m-b" multiple="">
                                                        																			<!-- 主机循环 -->
                                                        
                                                         {% for host in tempObj %}
                                                                   <option value="{{ host.id }}">{{ host.name }}</option>
                                                         {% endfor %}
                                                        																		
                                                        																			 <!-- 主机循环 -->
                                                 </select>
                                              </div>
                                               <div class="col-sm-1">
                                                       <div class="btn-group" style="margin-top: 50px;">
                                                              <button type="button" class="btn btn-white" onclick="move('temNoIn', 'tempIn')"><i class="fa fa-chevron-right"></i></button>
                                                              <button type="button" class="btn btn-white" onclick="move('tempIn', 'temNoIn')"><i class="fa fa-chevron-left"></i></button>
                                                       </div>
                                               </div>
                                              <div class="col-sm-3">
                                                  <div>
                                                      <select id="tempIn" name="tempIn" class="form-control m-b" size="12" multiple="" required="required">
                                                     
                                                     {% for hosts in temp %}
                                                     		{% for I in hostgroup.templates.all %}
                                                     		
                                                     					{% ifequal I.name hosts.name %}
                                                     				<option value="{{ hosts.id }}">{{ hosts.name }}</option>
                                                     					{% endifequal %}
                                                     															
                       																	{% endfor %}
                       															{% endfor %}
                                                   
                                                      </select>
                                                   </div>
                                              </div>
                                              
                                              <div class="col-sm-1 col-md-1">
                                                  <a href="javascript:;" onclick="hostgroupadd()" title="添加服务"><img id="images" src="/static/images/monitor/add.png"></a>
                                              </div>
                                        
                                        </div>
                              </div>
	  <!-- =========通知用户结束============= -->
	  <div class="form-group ">
	    <label for="ccomment" class="control-label col-xs-4 col-lg-2">恢复后是否通知:</label>
	         <div class="col-lg-2 col-xs-6">
	             	<select class="input-md form-control" id="pid" onchange="selectChange(this[selectedIndex].value)">
	             		<option  value="1">通知</option>
	             		<option  value="2">不通知</option>
	             	</select>
	             
	         </div>
	  </div>
	  
	   <div id="undis01" class="form-group">
	         <label for="ccomment" class="control-label col-xs-4 col-lg-2">恢复邮件主题:</label>
	         <div class="col-lg-6 col-xs-6">
	             <input class="form-control " id="recover_subject" name="recover_subject" placeholder="邮件恢复主题" required="">{{ recover_subject }}</input>
	         </div>
	    </div>
	    
	    <div id="undis02" class="form-group">
	         <label for="ccomment" class="control-label col-xs-4 col-lg-2">恢复邮件内容:</label>
	         <div class="col-lg-8 col-xs-8">
	             <textarea class="form-control " id="recover_message" name="recover_message" placeholder="通知的内容" required="">{{ recover_message }}</textarea>
	         </div>
	    </div>
	    
	  
	   <div class="form-group">
	         <div class="col-lg-offset-2 col-lg-10">
	             <button class="btn btn-info" type="submit" id="submit_button">Save</button>
	             <button class="btn btn-default" type="button">Cancel</button>
	         </div>
	   </div>

	</form>

</div>
</div>
</div>
</div>
	
{% endblock %}


{% block service_js %}
<script> 

function selectChange(vls){
	//var objS = document.getElementById("pid");
	//var grade = objS.options[objS.selectedIndex].grade;
	if (vls == '2'){
		undisObj = document.getElementById('undis01');
		undisObj.style.display="none";
		
		undisObj = document.getElementById('undis02');
		undisObj.style.display="none";
	} else{
		undisObj = document.getElementById('undis01');
		undisObj.style.display="";
		
		undisObj = document.getElementById('undis02');
		undisObj.style.display="";
	}
	
}


// =================================================
function hostadd(){
	layer.open({
		  type: 2,
		  title: false,
		  //closeBtn: 1, //不显示关闭按钮
		  shadeClose: true,
		  shade: [0],
		  maxmin: true,
		  area: ['893px', '600px'],//['340px', '215px'],
		  //offset: 'rb', //右下角弹出
		  time: 0, //2秒后自动关闭   https://127.0.0.1
		  //anim: 2,
		  content: ["{% url 'h_Add'  %}", 'no'], //iframe的url，no代表不显示滚动条
		
		});
	}

//=================================================
function hostgroupadd(){
	layer.open({
		  type: 2,
		  title: false,
		  //closeBtn: 1, //不显示关闭按钮
		  shadeClose: true,
		  shade: [0],
		  maxmin: true,
		  area: ['893px', '600px'],//['340px', '215px'],
		  //offset: 'rb', //右下角弹出
		  time: 0, //2秒后自动关闭   https://127.0.0.1
		  //anim: 2,
		  content: ["{% url 'hg_Add'  %}", 'no'], //iframe的url，no代表不显示滚动条
		
		});
}
	
	
	

function move(from, to, from_o, to_o) {
    $("#" + from + " option").each(function () {
        if ($(this).prop("selected") == true) {
            $("#" + to).append(this);
            if( typeof from_o !== 'undefined'){
                $("#"+to_o).append($("#"+from_o +" option[value='"+this.value+"']"));
            }
        }
    });
}

    
$(document).ready(function(){
    $("#submit_button").click(function(){
        $('#temNoIn option').each(function(){
            $(this).prop('selected', true)
        })
        
        $('#tempIn option').each(function(){
            $(this).prop('selected', true)
        })
    });

})

</script>

{% endblock %}